# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\aschw\Google Drive\Buba\2° Año\1° Cuatrimestre\A y E II\Laboratorios\Labo 1\Laboratorio 1\ejercitacion_uso_clases\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
